.carousel-container .slick-prev:before, .slick-next:before {
    z-index: 999;
    font-size: 50px;
}
.carousel-container button.slick-prev{
    left: 50px;    
    z-index: 999;
}
.carousel-container button.slick-next{
    right: 50px;
}
